* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --primary-color: rgb(146, 41, 41);
    --secondary-color: rgb(195, 103, 103);
}
.main-title {
    font-size: 2rem;
    color: red;
    margin: 20px 0;
}
.sub-title {
    font-size: 1.5rem;
}
body {
    display: flex;
    flex-direction: column;
    place-items: center;
    /* height: 100vh; */
    padding: 20px;
    text-align: center;
}
form {
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 20px;
    gap: 10px;
    margin-top: 20px;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 5px;
}
#searchBar:enabled, #searchBar:focus, form:focus-visible {
    outline: 0;
    border: 0;
}
#searchBar {
    height: 100%;
}
main {
    width: 100%;
    position: relative;
}

#gridView, #searchResults {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    margin-top: 50px;
    width: 100%;
}
.pokemon {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.pokemon img {
    width: 100px;
    place-self: center;
}

#detailsView {
    display: flex;
    flex-direction: column;
    gap: 15px;
    place-content: center;
    position: fixed;
    /* left: 20px; */
    bottom: 60px;
    border: 1px solid var(--primary-color);
    background-color: rgba(255, 255, 255, 0.767);
    padding: 50px; 
    border-radius: 5px;
    width: 90%;
    min-width: 300px;
}
#close-btn {
    background-color: var(--primary-color);
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#paginationButtons {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
#prevButton {
    padding: 10px 20px;
    border: 2px rgb(146, 41, 41) solid;
    color: rgb(146, 41, 41);
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
}
#nextButton {
    padding: 10px 20px;
    background-color: rgb(146, 41, 41);
    color: #fff;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}
#prevButton:hover {
    background-color: rgb(146, 41, 41);
    color: #fff;
}
#nextButton:hover {
    color: #fff;
    background-color: rgba(255, 0, 0, 0.85);
}